@{
    //Layout = "~/Views/Alumnos/_LayoutMasterOpt.cshtml";
    ViewBag.Title = "Contacto de CPF plataforma";
}
<section>
    <link rel="stylesheet" href="~/Content/Templ/mai.css" />

</section>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" type="/image/x-icon" href="~/Content/Pal/images/logocpf.svg" alt="" />

    <link rel="stylesheet" href="~/Content/Pal/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/Content/Pal/assets/css/noscript.css" /></noscript>
</head>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
